  
  @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
  

  * {
    margin: 0px;
  }

  
  body{
    background-color: #E2F1E7;
  }

  main {

    width: 800px;
    height: 600px;
    font-family: 'Karla', Helvetica, sans-serif;
    margin: auto;
    margin-top: 150px;
    min-width: 320px;
    max-width: 800px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
  }

  main h1 {
    margin-bottom: 20px;
  }

  main input {
    display: block;
    border-radius: 4px;
    margin-top: 5px;
    width: 400px;
    height: 30px;
  }

  label {
    display: block;
    margin-top: 20px;
  }




  .attribution { 
    font-size: 11px; text-align: center; 
}
  .attribution a { color: hsl(228, 45%, 44%); }